.Rproj.user
.Rhistory
.RData
.Ruserdata

# Les fichiers suivants
*.html
!docs/*.html
*.tex
*.pdf
*.log
*.sty
*.docx
*.odt
/.quarto/
/index_files/
/_site/

# On conserve les fichiers calendrier.html et header.html dans le dossier calendrier
!calendrier/calendrier.html
!calendrier/header.html
